<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <img class="card-img-top" src="/images/book_search.jpg?text=Book Search" alt="Card image cap" width="100" heigth="200">
                <div class="card-body">
                    <h5 class="card-title">Books</h5>
                    <p class="card-text">Search the Book Collection, Find ratings and add to your To-Do List</p>
                    <a href="\books" class="btn btn-primary">Go To Books</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <img class="card-img-top" src="/images/peer_review.jpg?text=Patrons" alt="Card image cap" width="100" heigth="200">
                <div class="card-body">
                    <h5 class="card-title">Patrons</h5>
                    <p class="card-text">Search Patron Reviews</p>
                    <a href="\books" class="btn btn-primary">Go To Patron</a>
                </div>
            </div>
        </div>
    </div>
</div>