<div class="card-group">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="/images/book_search.jpg?text=Book Search" alt="Card image cap" width="100" heigth="200">
                <div class="card-body">
                    <h5 class="card-title">Books</h5>                    
                    <p class="card-text">Search the Book Collection, Find ratings</p>
                    <small class="text-muted">Last updated 3 mins ago</small>
                    <a href="\books" class="btn btn-primary" width="100%">Go To Books</a>                    
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">  
                <img class="card-img-top" src="/images/peer_review.jpg?text=Patrons" alt="Card image cap" width="100" heigth="200">
                <div class="card-body">
                    <h5 class="card-title">Patrons</h5>
                    <p class="card-text">Search Patron Reviews</p>
                    <small class="text-muted">Last updated 3 mins ago</small>
                    <a href="\patrons" class="btn btn-primary" width="100%">Go To Patron</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="/images/user_setting.jpg?text=Patrons" alt="Card image cap" width="100" heigth="200">
                <div class="card-body">
                    <h5 class="card-title">To Do Tasks</h5>
                    <p class="card-text">Personal Tasks / Settings</p>
                    <a href="\books" class="btn btn-primary" width="100%">Go To Personal</a>
                </div>
            </div>
        </div>
    </div>
</div>