  <span class="glyphicon glyphicon-search"></span>

  <div id="item">
  </div>

  <div class="container">
    <table class="table col-md-12" id="data-table">      
    </table>
    <a id="link-to-data-table"></a>
  </div>
  <script src="/javascripts/report.js"></script>