<!DOCTYPE html>
<html>

<head>
  <%- include ("../partials/header.ejs") %>

</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <div class="jumbotron text-center">
    <div class="container">
      <a href="/" class="lang-logo">
        <img src="/lang-logo.png">
      </a>
      <h1>Admin Mode</h1>
      <p>This is a collection of Node.js projects on Heroku, created by Graham Pearl.</p>
      <a type="button" class="btn btn-lg btn-primary" href="https://github.com/GrahamPearl/cs313-node-js"><span
          class="glyphicon glyphicon-download"></span> Source on GitHub</a>
    </div>
  </div>
  <div class="container">
    <input type="text" id="username" placeholder="username" value="username"><br>
    <input type="password" id="password" placeholder="password" value="password"><br>
    <div class="row">
    <div class="col-md-3"></div>
    <button id="btn-login" class="col-md-3" onclick="login();">Log in</button>
    <button id="btn-logout" class="col-md-3" onclick="logout();">Log out</button>
    <div class="col-md-3"></div>
  </div>
    <div class="row">
      <a href="<GENERATED_GOOGLE_URL>">Login with Google</a>
    </div>
    
  </div>
  <div class="alert alert-info text-center" role="alert">
    Admin Activities are available once logged in
    <form action="/admin" method="post">
      <label for="task">Select Task:</label>
      <select id="task" name="type">
        <option value="101">Clear Books Table</option>
        <option value="102">Clear Patrons Table</option>
        <option value="103">Clear Reviews Table</option>
        <option value="104">Delete Book</option>        
        <option value="105">Delete Patron</option>
        <option value="106">Delete Book</option>
        
        <input type="submit" value="Execute" />
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="admin.js"></script>

</body>

</html>