<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/header.ejs") %>
    <script src="books-clientside.js"></script>
</head>

<body>

    <%- include ("../partials/nav.ejs") %>

    <h1>Books in Library</h1>
    <div class="container">
        <table id="table-data" class="table-refresh"></table>

    </div>
    
</body>

</html>