<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head><%- include ("../partials/header.ejs") %>
</head>

<body><%- include ("../partials/nav.ejs") %>

    <h1>Book Search</h1>
    <span class="glyphicon glyphicon-book"></span>
    <p>Enter details of the book that you want to search for</p>
    <div class="form">
        <label for="task">Search By:</label>
        <select id="task" name="type">
          <option value="01">Search By ISBN</option>
          <option value="02">Search By Author</option>
          <option value="03">Search By Title</option>          
        </select>

        <label class="search_01" for="search_01">ISBN:</label>
        <input class="search_01" id="search_01" name="search_01" type="text" value="" /> 
        <label class="search_02" for="search_02">Author:</label>
        <input class="search_02" id="search_02" name="search_02" type="text" value="Terry Pratchett" />
        <label class="search_03" for="search_03">Title:</label>
        <input class="search_03" id="search_03" name="search_03" type="text" value="Mort" /> 
        <input type="submit" value="Submit" onclick="find_books_all()"/>
    </div>

    <script type="module" src="/javascripts/library-task.js">doTask()</script>
    <%- include ("../partials/report.ejs") %>

    <div class="container">
        <ul id="list-ress">
        </ul>
    </div>

    <%- include ("../partials/card_nav.ejs") %>
</body>

</html>