<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head><%- include ("../partials/header.ejs") %>
</head>

<body><%- include ("../partials/nav.ejs") %>

    <h1>Book Search</h1>
    <span class="glyphicon glyphicon-book"></span>
    <p>Enter details of the book that you want to search for</p>
    <div class="form">
        <label for="isbn">ID:</label>
        <input id="search_isbn" name="isbn" type="text" value="R0Aw51Xmci4C" /> 
        <label for="author">Author:</label>
        <input id="search_author" name="author" type="text" value="Terry Prachett" />
        <label for="title">Title:</label>
        <input id="search_title" name="title" type="text" value="Mort" />
        <input type="submit" value="Submit" onclick="find_books_all()"/>
    </div>

    <%- include ("../partials/report.ejs") %>

    <div class="container">
        <ul id="list-ress">
        </ul>
    </div>

    <%- include ("../partials/card_nav.ejs") %>
</body>

</html>