<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>

    <%- include ("../partials/nav.ejs") %>

    <h1>Unexpected Error</h1>
    <h2>Unable to produce Cost Report</h2>    
</body>

</html>