<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head><%- include ("../partials/header.ejs") %>
</head>

<body><%- include ("../partials/nav.ejs") %>

    <h1>Google API Search</h1>
    <p>Enter details of the book that you want to search using Google Books</p>
    <div class="form">
        <h3><span class="glyphicon glyphicon-search"></span> Google Books</h3>
        <label for="author">Author:</label>
        <input id="search_author" name="author" type="text" value="Terry Pratchett" /> <br />
        <label for="title">Title:</label>
        <input id="search_title" name="title" type="text" value="Mort" />
        <input type="submit" value="Execute" onclick="find_google_api()"/>
    </div>

    <%- include ("../partials/report.ejs") %>
    <%- include ("../partials/card_nav.ejs") %>
</body>

</html>