<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>

    <%- include ("../partials/nav.ejs") %>    
    <div id="content">
    </div>
    <div id="books">
    </div>
    
    <%- include ("../partials/card_nav.ejs") %>
    
</body>

</html>