<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head><%- include ("../partials/header.ejs") %>    
</head>

<body class="fade"><%- include ("../partials/nav.ejs") %>
    <script type="text/javascript" src="//books.google.com/books/previewlib.js"></script>
    <div id="item_preview" class="container">   
    </div>

    <%- include ("../partials/card_nav.ejs") %>
</body>

</html>