<!DOCTYPE html>
<html>

<head>
  <%- include ("../partials/header.ejs") %>
  <script type="module" src="/javascripts/uxi.js"></script>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <div class="jumbotron text-center">
    <div class="container">
      <a href="/" class="lang-logo">
        <img src="/lang-logo.png">
      </a>
      <h1>Demonstration of Node.js Projects</h1>
      <p>This is a collection of Node.js projects on Heroku, created by Graham Pearl.</p>
      <a type="button" class="btn btn-lg btn-primary" href="https://github.com/GrahamPearl/cs313-node-js"><span
          class="glyphicon glyphicon-download"></span> Source on GitHub</a>
      <a type="button" class="btn btn-lg btn-primary" href="/library/"><span
          class="glyphicon glyphicon-education"></span> Library Front-End</a>
    </div>
  </div>

  <div class="container">
    <a type="button" class="btn btn-lg btn-primary" href="/google/"><span class="glyphicon glyphicon-search"></span>
      Google Books Search</a>
  </div>

  <div class="container">

    <div class="row">
      <form id="books" action="/API" method="get" display="none">
        <h3><span class="glyphicon 	glyphicon glyphicon-book"></span> Books</h3>
        <label class="search_book_isbn" for="isbn">ISBN:</label>
        <input class="search_book_isbn" name="isbn" type="text" value="R0Aw51Xmci4C" /> <br />
        <label class="search_book_author" for="author">Author:</label>
        <input class="search_book_author" name="author" type="text" value="Terry Prachett" /> <br />
        <label class="search_book_title" for="title">Title:</label>
        <input class="search_book_title" name="title" type="text" value="Mort" />
        <input class="btn btn-primary" type="submit" value="Execute" />
      </form>
    </div>
    <div class="row">
      <form id="patrons" action="/API" method="get" display="none">
        <h3><span class="glyphicon 	glyphicon glyphicon-user"></span> Patrons</h3>
        <label class="search_patron_id" for="id">ID / ADMIN NO:</label>
        <input class="search_patron_id" name="id" type="number" /> <br />
        <label class="search_patron_name_last" for="name_last">Last Name:</label>
        <input class="search_patron_name_last" name="name_last" type="text" /> <br />
        <label class="search_patron_name_first" for="name_first">First Name:</label>
        <input class="search_patron_name_first" name="name_first" type="text" />
        <input class="btn btn-primary" type="submit" value="Execute" />
      </form>
    </div>
    <hr>

    <div class="row">
      <form>
        <label for="task">API Select Task:</label>
        <select id="task" name="type">
          <option value="01">Search All Patrons</option>
          <option value="02">Search By ID</option>
          <option value="03">Search By Last Name</option>
          <option value="04">Search By First Name</option>
          <option value="05">Insert Patron</option>
          <option value="06">Search All Books</option>
          <option value="07">Search By ISBN</option>
          <option value="08">Search By Author</option>
          <option value="09">Search By Title</option>
          <option value="10">Insert Book</option>
        </select>
      </form>
    </div>
    <div class="row alert alert-info text-center" role="alert">
      To see each API call in action, please select the associated action
    </div>
    <hr>

  </div>
  </div>
  <script type="module" src="/javascripts/task.js">
    doTask()
  </script>
</body>

</html>