<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>

    <%- include ("../partials/nav.ejs") %>

    <h1>Library Books Search Results/h1>
    <div class="table-refresh" data-url="/data">
        <table class="table-refresh__table">            
        </table>
    </div>

    <script src="/javascripts/buildtable.js"></script>
</body>
</html>