<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>

    <%- include ("../partials/nav.ejs") %>

    <h1>Patrons Search</h1>
    <p>Enter details of the book that you want to search for</p>
    <form action="/patrons/patrons_search" method="get">
        <label for="id">ADMIN NO:</label>
        <input name="id" type="number" /> <br />
        <label for="name_last">Last Name:</label>
        <input name="name_last" type="text" /> <br />
        <label for="name_first">First Name:</label>
        <input name="name_first" type="text" /> <br />
        <input type="submit" value="Submit" />
    </form>

    <%- include ("../partials/card_nav.ejs") %>
</body>

</html>