<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>

    <%- include ("../partials/nav.ejs") %>

    <h1>Patrons Found</h1>
    <table id="tableData" class="table table-fixed">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
</body>

</html>

<script></script>