<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head><%- include ("../partials/header.ejs") %>
</head>

<body><%- include ("../partials/nav.ejs") %>

    <h1>Patrons Search</h1>
    <span class="glyphicon glyphicon-user"></span>
    <p>Enter details of the patron that you want to search for</p>
    <div class="form">
        <label for="task">Search By:</label>
        <select id="task" name="type">
          <option value="01">Search By ID</option>
          <option value="02">Search By Last Name</option>
          <option value="03">Search By First Name</option>          
        </select>

        <label class="search_01" for="search_01">ADMIN NO:</label>
        <input class="search_01" id="search_01" name="search_01" type="number" /> 
        <label class="search_02" for="search_02">Last Name:</label>
        <input class="search_02" id="search_02" name="search_02" type="text" /> 
        <label class="search_03" for="search_03">First Name:</label>
        <input class="search_03" id="search_03" name="search_03" type="text" />
        <input type="submit" value="Submit" onclick="find_patrons_all()"/>
    </div>
    
    <script type="module" src="/javascripts/library-task.js">doTask()</script>
    <%- include ("../partials/report.ejs") %>
    <%- include ("../partials/card_nav.ejs") %>    
</body>

</html>