<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%- include ("../partials/header.ejs") %>
    <script src=""></script>
</head>

<body>

    <%- include ("../partials/nav.ejs") %>

    <h1>Personal (Browser JS)</h1>
    <span class="glyphicon glyphicon-tasks"></span>    
    <p>Tasks for the Personal Browser, Demonstrates JS-Front-end Development</p>    
    <div class="container">        
        <a href="\personal\notes_todo" class="btn btn-primary" width="100%">Go To To Do List</a>
        <button>To-Do Items</button>
        <button></button>
        <button></button>
    </div>

    <%- include ("../partials/card_nav.ejs") %>
</body>

</html>