<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>

    <%- include ("../partials/nav.ejs") %>

    <h1>UPS Postal / Mail Service</h1>
    <h2>Mailing Cost Report</h2>
    <form>        
        <p>Billing for Mailing</p>
        <label for="amount"> Amount:</label>        
        <input name="amount" type="number" min="1" step="any" value='<%= amount %>'/>             
    </form>    
    <p>Total Amount: <%= amount %> </p>
    <a class="btn btn-primary" target="_blank" href="/week9">Back</a>
</body>

</html>