<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>    <%- include ("../partials/header.ejs") %>
</head>

<body>    <%- include ("../partials/nav.ejs") %>

    <h1>Privacy Policy</h1>
    <p>Please note that the following terms of service apply to usage of the site</p>
    

    <%- include ("../partials/card_nav.ejs") %>    
</body>

</html>