<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <%- include ("../partials/header.ejs") %>
  <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/themes/bootstrap-table/bootstrap-table.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <h1><%- title %></h1>
  <span class="glyphicon glyphicon-search"></span>

  <div id="item">
  </div>

  <div class="container">
    <table class="table col-md-12" id="data-table">      
    </table>
  </div>

  <%- include ("../partials/card_nav.ejs") %>  
  <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js">
    </script>
  <script src="/javascripts/report.js">
  </script>
</body>

</html>