<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>Mailing Cost Report</h1>
        <h2><Your Order: </h2>
        <p> Weight: <%= weight %> </p>
        <p>   Type: <%= type %> </p>
    </body>
</html>