<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <h1>Updated Results</h1>
  <span class="glyphicon glyphicon-search"></span>

  <div id="item">
  </div>

  <div class="container">
    <table class="table-refresh col-md-12" id="">
    </table>
  </div>

  <%- include ("../partials/card_nav.ejs") %>
  <script>
    var url = "https://tranquil-river-49994.herokuapp.com/API/find_patrons_all";
    let data = [];

    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        data = JSON.parse(this.responseText);
        console.log(data);

        var html = '';
        html += '<tr>';
        var flag = 0;


        $.each(data.data[0], function (index, value) {
          html += '<th>' + index + '</th>';
        });
        html += '</tr>';

        $.each(data.data, function (index, value) {
          console.log("Building Table Row...");

          html += '<tr>';
          $.each(value, function (index2, value2) {
            html += '<td>' + value2 + '</td>';
          });

          html += '<tr>';
        });

        $('table').html(html);
      }
    };
    xhttp.open('GET', url, true);
    xhttp.send();

    console.log("Building Table Structure...");


    /**/
    //src="/javascripts/build.js" buildTable();
  </script>

</body>

</html>