<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head> <%- include ("../partials/header.ejs") %>
</head>

<body> <%- include ("../partials/nav.ejs") %>

    <h1>Terms of Service</h1>
    <p>Please note that we commit ourselves to the following terms of service</p>
    <div class="container">
        <a type="button" class="btn btn-lg btn-primary" href="https://policies.google.com/terms?hl=en-US#toc-relationship"><span class="glyphicon glyphicon-search"></span>
          Google Terms of Service</a>    
      </div>
    

    <%- include ("../partials/card_nav.ejs") %>
</body>

</html>