<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>

    <%- include ("../partials/nav.ejs") %>

    <h1>Family Search</h1>
    <h3>Found</h3>
    <p>Time: <%= amount %> </p>
</body>

</html>