<!DOCTYPE html>
<html>

<head>
    <%- include ("../../partials/header.ejs") %>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/todo.css">
</head>
<html xmlns="http://www.w3.org/1999/xhtml">

</html>

<body>

    <%- include ("../../partials/nav.ejs") %>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

    <header>
        <h1>Your To-Do List</h1>
    </header>
    <form>
        <p>Title:</p>
        <div class="single_line_input">
            <input type="text" class="todo-list">
            <button class="todo-button" type="submit">
                <i class="fa fa-plus-square"></i>
            </button>
        </div>

        <p>Filter By:</p>
        <div class="select">
            <select name="todos" class="filter-todo">
                <option value="all">All</option>
                <option value="completed">Completed</option>
                <option value="uncompleted">Uncompleted</option>
            </select>
        </div>

    </form>
    <div class="todo-container">
        <ul class="todo-list"></ul>
        <div class="todo">
            <li></li>
            <button class="checked-btn"><i class="fas fa-check"></i></button>
            <button class="trashed-btn"><i class="fas fa-trash"></i></button>
        </div>
    </div>

    <script src="notes_todo.js" async defer></script>
</body>

</html>